.vscode
数据库/mysql57/data/*
消息队列/kafka/data/*
消息队列/rabbitmq/data/*
消息队列/zeekooper/datalog/*
注册中心/consul/data/*
elk/elasticsearch_01/data/*
kong网关/postgres/data/*
mongodb/data/*
nginx/log/*
php/log/*
redis/data/*
git_jenkins/gitlab/config/*
git_jenkins/gitlab/data/*
git_jenkins/gitlab/logs/*
git_jenkins/jenkins/data/*